.coin_header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #4B311E;
    border-top: 1px solid #4B311E;
    margin: 0rem 1rem;
    padding: 1rem 0rem;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 600;
}

/* .coin_header p {

} */

.coin_container {
    justify-content: center;
}

.coin_row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0rem 1rem;
    padding: 1rem 0rem;
    font-family:'Inter';
    border-bottom: 1px solid #4B311E;
}

.coin_row p {
    display: flex;
    align-items: center;
}

.coin {
    display: flex;
}

.coin h1 {
    display: flex;
    font-size: 20px;
    align-items: center;
}

.coin_image {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.coin_data {
    display: flex;
}

.coin_percent_red {
    color: red;
}

.coin_percent_green {
    color: green;
}